<div class="container">
  <h1 class="text-center"> GitHub - Integration Demo</h1>
  <form
    [formGroup]="authForm"
    (ngSubmit)="saveAuth(authForm.value)"
    class="example-container row"
>
    <div class="form-group row">
      <label for="username-input" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input
        class="form-control"
        id="username-input"
          formControlName="username"
          [value]="authDetails.username"
          is="username"
          placeholder="User name"
          readonly
        />
      </div>
      <label for="password-input" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
        class="form-control"
          id="password-input"
          formControlName="key"
          is="key"
          type="password"
          [value]="authDetails.username"
          placeholder=""
          readonly
        />
      </div>
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary" disabled>Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <h1>Repos</h1>
  <button (click)="getRepos()">Get My Repos</button>

  <table class="table">
    <tr>
      <td>Hash</td>
      <td>Commit</td>
    </tr>
    <tr *ngFor="let repo of repos">
      <td>{{repo.name}}</td>
      <td><button class="btn btn-info" (click)="getCommits(repo.name)">Get commits</button></td>
    </tr>
  </table>
</div>


<div class="container">
    <h1>Commits</h1>

    <table class="table">
      <tr>
        <td>Hash</td>
        <td>Commit</td>
        <td>Date</td>
        <td>Author</td>
      </tr>
      <tr *ngFor="let commit of commits">
        <td>{{commit.sha}}</td>
        <td>{{commit.commit.message}}</td>
        <td>{{commit.commit.author.date | date}}</td>
        <td></td>
      </tr>
    </table>
  </div>

